.category-buttons {
  display: flex;
  flex-wrap: wrap;
}

.category-buttons > a {
  margin: 5px;
}

.cat-header {
  display: flex;
  background-color: darkslategray;
  color: white;
  margin: 0;
  padding-bottom: 5%;
  padding-top: 5%;
  opacity: 95%;
  width: 100%;
}

.cat-header > h1 {
  margin: 0;
}

.back-button {
  margin-left: 10px;
  margin-right: 10px;
}